<div class="cabecera-login">
    <div class="formulario">
       <p class="sesion">Inicio de sesión</p>

       <form [formGroup]="form" (ngSubmit)="iniciarSesion()">
       <p class="inputs-clase">
        <mat-form-field appearance="outline" class="inputs">
          <mat-label>Correo electronico</mat-label>
          <input formControlName="email" type="email" matInput placeholder="Correo electronico">
          <mat-error *ngIf="form.controls.email.hasError('required')">Correo electrónico no válido</mat-error>
        </mat-form-field>
      </p>
      <p class="inputs-clase">
        <mat-form-field appearance="outline" class="inputs">
          <mat-label>Contraseña</mat-label>
          <input matInput formControlName="password" type="password" placeholder="Contraseña">
          <mat-error *ngIf="form.controls.password.hasError('required')">Constraseña no es válida</mat-error>
        </mat-form-field>
      </p>
      <div class="inputs-clase">
        <button mat-raised-button color="primary" [disabled]="form.invalid || procesando" type="submit" class="inputs">
          <ng-container *ngIf="procesando; else content">
            <mat-spinner diameter="20"></mat-spinner>
          </ng-container>
          <ng-template #content>
            Ingresar
          </ng-template>
        </button>
      </div>
    </form>

    </div>
</div>
